**Assignment 1 Solution** <br>
Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np

**PART 1** <br>
Opening csv file and displaying rows

In [2]:
data = pd.read_csv('./california_housing_train.csv')
print(data[:5])
print(data[-10:]) #using negative index for displaying last rows

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16990    -124.22     41.73                28.0       3003.0           699.0
16991    -124.23     41.75                11.0       3159.0           616.0
16992    -124.23     40.81                52.0       1112.0           209.0
16993    -124.23     40.54                52.0       2694.0           453.0
16994    -124.25     40.28                32.0       1430.0           419.0
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16990      1530.0       653.0         1.7038             78300.0
16991      1343.0       479.0         2.4805             73200.0
16992       544.0       172.0         3.3462             50800.0
16993      1152.0       435.0         3.0806            106700.0
16994       434.0       187.0         1.9417             76100.0
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

Displaying Statiscal Summary of dataframe using `.describe()`

In [3]:
summary = data.describe()
print(summary)

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

Finding Unique Values in Column using `numpy.unique()`

In [27]:
total_bedrooms = np.array(data['total_bedrooms'])
unique_bedrooms = np.unique(total_bedrooms)
print('Unique Values \n',unique_bedrooms)
print('No. of Unique Values: ',len(unique_bedrooms))

Unique Values
 [1.000e+00 2.000e+00 3.000e+00 ... 5.290e+03 5.471e+03 6.445e+03]
No. of Unique Values:  1848

Creating New Column in Dataframe

In [5]:
data['total_bedrooms_per_total_rooms'] = data['total_bedrooms'] / data['total_rooms']

Calculating mean and standard deviation of column using `.mean()` and `.std()`

In [6]:
m = data['total_bedrooms_per_total_rooms'].mean()
sd = data['total_bedrooms_per_total_rooms'].std()
print('mean is: ',m)
print('standard deviation is: ',sd)

mean is:  0.21275998821034803
standard deviation is:  0.05782300890316167

Filter data for Single Column Condition

In [7]:
filter_data = data[data['median_income'] > 5]
print(filter_data)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
32       -115.39     32.76                16.0       1136.0           196.0
69       -115.55     32.98                33.0       2266.0           365.0
92       -115.57     32.78                20.0       1534.0           235.0
98       -115.58     32.78                 5.0       2494.0           414.0
100      -115.59     32.79                 8.0       2183.0           307.0
...          ...       ...                 ...          ...             ...
16737    -122.89     38.38                16.0       2017.0           369.0
16762    -122.94     38.57                33.0       1530.0           266.0
16776    -123.00     38.33                 8.0       3223.0           637.0
16802    -123.17     39.18                14.0       2240.0           327.0
16899    -124.05     40.94                14.0       1452.0           217.0

       population  households  median_income  median_house_value  \
32          481.0       185.0         6.2558            146300.0
69          952.0       360.0         5.4349            143000.0
92          871.0       222.0         6.2715             97200.0
98         1416.0       421.0         5.7843            110100.0
100        1000.0       287.0         6.3814            159900.0
...           ...         ...            ...                 ...
16737       931.0       336.0         5.7664            267500.0
16762       728.0       250.0         5.1005            266700.0
16776       851.0       418.0         5.6445            364800.0
16802      1030.0       308.0         5.9585            214900.0
16899       516.0       181.0         5.0329            165600.0

       total_bedrooms_per_total_rooms
32                           0.172535
69                           0.161077
92                           0.153194
98                           0.165998
100                          0.140632
...                               ...
16737                        0.182945
16762                        0.173856
16776                        0.197642
16802                        0.145982
16899                        0.149449

[3752 rows x 10 columns]

Making a subset dataframe by filtering dataframe for multiple column condition using `.query()`

In [8]:
sdata = data.query('total_rooms > 10000 and median_house_value < 150000')
print(sdata)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
133      -116.06     34.15                15.0      10377.0          2331.0
191      -116.36     33.88                11.0      12557.0          3098.0
198      -116.38     33.73                10.0      11836.0          2405.0
201      -116.39     33.82                15.0      11115.0          2257.0
229      -116.47     33.81                 7.0      10105.0          2481.0
...          ...       ...                 ...          ...             ...
12654    -121.75     38.67                 9.0      12139.0          2640.0
12772    -121.79     36.64                11.0      32627.0          6445.0
13388    -121.94     38.27                35.0      10869.0          2226.0
13707    -122.00     38.25                 7.0      11768.0          1893.0
15436    -122.31     40.55                11.0      13714.0          2302.0

       population  households  median_income  median_house_value  \
133        4507.0      1807.0         2.2466             66800.0
191        2453.0      1232.0         1.7844             78500.0
198        3811.0      1570.0         4.0079            134500.0
201        4122.0      1653.0         2.7219             74400.0
229        6274.0      2095.0         2.4497             90900.0
...           ...         ...            ...                 ...
12654      6837.0      2358.0         3.1250            132500.0
12772     28566.0      6082.0         2.3087            118800.0
13388      9879.0      2152.0         2.5681             81300.0
13707      6657.0      1874.0         4.9222            142900.0
15436      6511.0      2267.0         3.5522            100100.0

       total_bedrooms_per_total_rooms
133                          0.224631
191                          0.246715
198                          0.203194
201                          0.203059
229                          0.245522
...                               ...
12654                        0.217481
12772                        0.197536
13388                        0.204803
13707                        0.160860
15436                        0.167858

[67 rows x 10 columns]

Saving Dataframe as csv file

In [9]:
sdata.to_csv('subsetdata.csv')

**PART 2** <br>
Creating a numpy array using `numpy.arange()`

In [10]:
a = np.arange(1,21)
print(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Slicing Numpy array

In [11]:
b = a[1::2] # sliced array starts from index 1 with step size of 2
print(b)

[ 2  4  6  8 10 12 14 16 18 20]

Generating Random arrays

In [28]:
rng = np.random.default_rng() # creating a generator
r = rng.integers(low = 10, high= 100, size = (5,4)) #creating random array of integers between 10 and 100 
print(r)

[[58 78 16 55]
 [53 57 91 87]
 [30 53 47 96]
 [49 52 93 93]
 [74 88 68 27]]

Slicing 2D Numpy Array

In [13]:
new_r = r[:3,:2]
print(new_r)

[[13 85]
 [55 42]
 [66 36]]

Reshaping and Flattening Array using `.reshape()` and `.flatten()`

In [14]:
new_a = a.reshape(4,5)
print(new_a)
flattened_a = new_a.flatten()
print(flattened_a)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Generating random 2D array and using mathmul operator `@` for matrix multiplication

In [15]:
r2 = rng.integers(100, size= (4,5))
print(new_a @ r2.T) #Taking Transpose for dimension matching for multiplication

[[ 763  903  760  813]
 [1863 2233 2040 2103]
 [2963 3563 3320 3393]
 [4063 4893 4600 4683]]

Creating a NumPy array of 50 random integers between 0 and 100 and using `numpy.where()` for finding where value is greater than 50

In [16]:
r3 = rng.integers(0, 100, size= 50)
r3b = r3[np.where(r3>50)]
print(r3b)

[86 71 80 97 96 94 86 69 56 85 79 56 58 56 73 98 61 92 56 82 95 88 61 53
 57 83]

Using Fancy Indexing

In [17]:
i = rng.integers(0, len(r3)-1, size= 10, endpoint= True) #generating random array of indexes
print('Indexes are: ', i)
print(r3[i])

Indexes are:  [33 31 24  1  8 46  1  9 26 13]
[61 48 56 86  4 83 86 71  4 96]

Calculating mean,max,sum,min along each column

In [18]:
#Setting axis = 0 for calculating mean, sum, min, max along columns
mean= r.mean(axis=0)
print('Mean: ',mean)
sum = r.sum(axis=0)
print('Sum: ',sum)
min = r.min(axis=0)
print('Min: ',min)
max = r.max(axis=0)
print('Max: ',max)

Mean:  [46.4 43.4 52.2 56.2]
Sum:  [232 217 261 281]
Min:  [13 19 13 21]
Max:  [73 85 96 98]

Creating mask and Displaying Filtered Array

In [19]:
mask_r = np.where(r > mean ,True, False)
print(mask_r)
filtered_r = np.ma.masked_array(r, np.invert(mask_r)) #inverting mask since np.ma.masked_array() does not show elements having True value in mask
print(filtered_r)

[[False  True  True  True]
 [ True False  True  True]
 [ True False  True False]
 [False False False  True]
 [ True False False False]]
[[-- 85 72 57]
 [55 -- 56 65]
 [66 -- 96 --]
 [-- -- -- 98]
 [73 -- -- --]]

**PART 3** <br>
Printing first 100 elements of fibonacci series

In [20]:
a0 = 0
a1 =1
print(a0)
print(a1)
i= 1
while i <99:
    print(a0+a1)
    a= a0
    a0 =a1
    a1 = a+a1
    i+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

Using Loops and Divisibility in Python

In [21]:
i =1
while i <= 50:
    if i%3 == 0 and i%5 == 0:
        print('FizzBuzz')
    elif i%3 == 0:
        print('Fizz')
    elif i%5 == 0:
        print('Buzz')
    i+=1

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz
Fizz
Buzz

Showing median of list of numbers given <br>
Sample Input:
`12 34 65 784 435`

In [22]:
p = [int(x) for x in input().split()]
p = np.array(p)
p = np.sort(p)
m_i = int(len(p)/2)
print(p[m_i])

234

Calculating average of variable number of given numbers <br>
Sample Input: `12 34 65 784 435`

In [23]:
sum = 0
n = 0
for x in input().split():
    sum += int(x)
    n+=1
if n !=0:
    avg = sum/n
    print(avg)
else:
    print('ERROR: DIVISION BY ZERO')

270329.1666666667

**PART 4** <br>
Generating a random 3D array and swapping two of its axes using `numpy.swapaxes()`

In [24]:
arr3d = rng.integers(0, 100, size= (5,6,7))
print(arr3d)
s_arr3d = np.swapaxes(arr3d,1,2)
print('Swapped Array:\n',s_arr3d)

[[[51 64  8 73 63 27 85]
  [35 58 15 39 34  0 51]
  [56 37 70 77 18 62 27]
  [47 20 28 29 62 39 59]
  [46 71 85 20 22 92 91]
  [ 0 54 69 81 52 62  3]]

 [[32 11 11 63 62 88 85]
  [11 18 74 97  3 37 89]
  [53  5 45 54 80 62 61]
  [70 99 68  2 20 57 20]
  [27 47  2 84  4 66 67]
  [66 67 55 46 87 86  7]]

 [[53 15 81 93 88 57 73]
  [94 53 84 12 83 48 47]
  [44 24 89 85 25 62 16]
  [45 55 63 74 75 72 35]
  [74  3  0 30 73 61 86]
  [65 22 18 34 60 48 81]]

 [[12 75 16 17 57 86  5]
  [ 2 95 34 20 49 50 80]
  [94 11 50 24 94 62 60]
  [72 34 28 96 49 74 68]
  [18  5 23 49 69 47 33]
  [18 30  0 24 70 18 63]]

 [[89 42 83  4 98 26 69]
  [36 35 54 17 37 85 84]
  [60 60 92 80 32  8 49]
  [ 9 73 39 90 48 78 33]
  [50 53 86 34 53 37 76]
  [23 55 70 31 46 50  8]]]
Swapped Array:
 [[[51 35 56 47 46  0]
  [64 58 37 20 71 54]
  [ 8 15 70 28 85 69]
  [73 39 77 29 20 81]
  [63 34 18 62 22 52]
  [27  0 62 39 92 62]
  [85 51 27 59 91  3]]

 [[32 11 53 70 27 66]
  [11 18  5 99 47 67]
  [11 74 45 68  2 55]
  [63 97 54  2 84 46]
  [62  3 80 20  4 87]
  [88 37 62 57 66 86]
  [85 89 61 20 67  7]]

 [[53 94 44 45 74 65]
  [15 53 24 55  3 22]
  [81 84 89 63  0 18]
  [93 12 85 74 30 34]
  [88 83 25 75 73 60]
  [57 48 62 72 61 48]
  [73 47 16 35 86 81]]

 [[12  2 94 72 18 18]
  [75 95 11 34  5 30]
  [16 34 50 28 23  0]
  [17 20 24 96 49 24]
  [57 49 94 49 69 70]
  [86 50 62 74 47 18]
  [ 5 80 60 68 33 63]]

 [[89 36 60  9 50 23]
  [42 35 60 73 53 55]
  [83 54 92 39 86 70]
  [ 4 17 80 90 34 31]
  [98 37 32 48 53 46]
  [26 85  8 78 37 50]
  [69 84 49 33 76  8]]]

Calculating sum of 3D array along any axis

In [25]:
sum = np.sum(arr3d, axis=0)
print(sum)

[[237 207 199 250 368 284 317]
 [178 259 261 185 206 220 351]
 [307 137 346 320 249 256 213]
 [243 281 226 291 254 320 215]
 [215 179 196 217 221 303 353]
 [172 228 212 216 315 264 162]]

Generating a 2D array and 1D array using broadcasting add both the arrays

In [26]:
arr2d = rng.integers(0, 100, size= (6,7))
r_array = rng.integers(0, 100, size=7) #Of size 7 for dimension matching
sum = arr2d + r_array
print(sum)

[[ 84  35 132  63 118  87 130]
 [ 84  42 100  63  70  57 128]
 [ 18  46 104 133  42  66 144]
 [ 76  55 141  60  54  60 178]
 [ 91  37  91 112 114 114 173]
 [ 55  99 166  87  71  32 130]]